.App {
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
}

.Maps {
  border-right: 200px solid #fff;
}

.d-flex div{
  padding: 1rem;
  background-color: gray;
  border: 2px solid #fff;
  color: #fff;
  text-align: right;
  width: 25%;
  margin-left: 70%;
}

.d-flex2 div{
  padding: 1rem;
  background-color: yellowgreen;
  border: 2px solid #fff;
  color: #fff;
  text-align: right;
  width: 25%;
  margin-left: 70%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.TitleWindow {
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
